@import "../../styles/variables";

.acknowledgment_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;

  .label {
    text-transform: uppercase;
    font-weight: 700;
    color: $blue;
    margin-right: 5px;
  }

  .names_container {
    display: flex;

    .name {
      background-color: $grey;
      padding: 5px 7px 7px;
      margin-right: 5px;
      border-radius: 10px;
    }

    a {
      margin-left: 5px;
    }
  }
}

@media screen and (max-width: 500px) {
  .acknowledgment_container {
    align-items: flex-end;
    flex-flow: column;
    margin: 10px 0 0 0;

    .label {
      margin: 0 0 2px 0;
    }

    .names_container {
      .name {
        margin-right: 0;
        margin-left: 5px;
      }
    }
  }
}
