@import "../../styles/variables";

.letters_container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  // padding-bottom: 3rem;
}

.clicked_letters_container {
  display: flex;

  .clicked_letter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    height: clamp(50px, 5vw, 75px);
    width: clamp(50px, 5vw, 75px);
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-transform: uppercase;
    color: $blue;
    border: 3px solid $blue;
    border-radius: 10px;
  }

  .correct {
    color: darken($green, 25%);
    background-color: lighten($green, 25%);
    border: 3px solid darken($green, 25%);
  }

  .wrong {
    color: $red;
    border: 3px solid $red;
  }
}

.buttons_container {
  display: flex;
  justify-content: center;
}

.selectable_letters_container {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 50px));

  .selectable_letter {
    justify-self: center;
    margin: 10px;
    @include Button($blue);
    // width: 70px;
  }

  .filled {
    pointer-events: none;
  }
}

.utility_buttons_container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  & > * {
    margin: 10px;
  }

  .backspace {
    @include Button($red);
  }

  .submit {
    @include Button($green);

    svg {
      path {
        stroke: white;
      }
    }

    &:active {
      svg {
        path {
          stroke: $dark-grey;
        }
      }
    }
  }

  .disabled {
    svg {
      path {
        stroke: $dark-grey;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .buttons_container {
    flex-flow: column;
  }

  .utility_buttons_container {
    flex-flow: row;

    & > * {
      flex-grow: 1;
    }
  }
}
