@import "../../styles/variables";

.letters_container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.clicked_letters_container {
  display: flex;

  .clicked_letter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    height: 70px;
    width: 70px;
    font-size: 3rem;
    text-transform: uppercase;
    color: $blue;
    border: 3px solid $blue;
    border-radius: 10px;
  }

  .correct {
    color: darken($green, 25%);
    background-color: lighten($green, 25%);
    border: 3px solid darken($green, 25%);
  }

  .wrong {
    color: red;
  }
}

.buttons_container {
  display: flex;
}

.selectable_letters_container {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 100px));

  .selectable_letter {
    justify-self: center;
    margin: 10px;
    @include Button($blue);
    width: 70px;
  }

  .filled {
    pointer-events: none;
  }
}

.utility_buttons_container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  & > * {
    margin: 10px;
  }

  .backspace {
    @include Button($red);
    width: 150px;
  }

  .submit {
    @include Button($green);
    width: 150px;

    svg {
      path {
        stroke: white;
      }
    }

    &:active {
      svg {
        path {
          stroke: $dark-grey;
        }
      }
    }
  }

  .disabled {
    svg {
      path {
        stroke: $dark-grey;
      }
    }
  }
}
