@import "../../styles/variables";

.letters_container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}

.clicked_letters_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .clicked_letter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: clamp(3px, 0.5vw, 10px);
    margin-right: clamp(3px, 0.5vw, 10px);
    height: clamp(40px, 6vw, 70px);
    width: clamp(35px, 6vw, 70px);
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-transform: uppercase;
    color: $blue;
    border: 3px solid $blue;
    border-radius: 10px;
  }

  .correct {
    color: darken($green, 25%);
    background-color: lighten($green, 25%);
    border: 3px solid darken($green, 25%);
  }

  .wrong {
    color: $red;
    border: 3px solid $red;
  }
}

.buttons_container {
  display: flex;
  justify-content: center;
}

.selectable_letters_container {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 50px));

  .selectable_letter {
    justify-self: center;
    margin: 10px;
    @include Button($blue);
  }

  .filled {
    pointer-events: none;
  }
}

.utility_buttons_container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  & > * {
    margin: 10px;
  }

  .backspace {
    @include Button($red);
  }

  .submit {
    @include Button($green);

    svg {
      path {
        stroke: white;
      }
    }

    &:active {
      svg {
        path {
          stroke: $dark-grey;
        }
      }
    }
  }

  .disabled {
    svg {
      path {
        stroke: $dark-grey;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .letters_container {
    height: 50%;
  }

  .buttons_container {
    flex-flow: column;
  }

  .selectable_letters_container {
    .selectable_letter {
      margin: 5px;
    }
  }

  .utility_buttons_container {
    flex-flow: row;
    button {
      margin: 5px;
    }

    & > * {
      flex-grow: 1;
    }
  }
}
