@import "../../styles/variables";

.definition_container {
  padding: clamp(2px, 0.5vw, 5px) clamp(5px, 1vw, 10px);
  text-align: center;
  line-height: 1.5rem;
  font-size: clamp(1rem, 2vw, 1.25rem);
  background-color: $grey;
  border-radius: 10px;

  span {
    letter-spacing: 1px;
    font-weight: 700;
    color: $blue;
  }
}
