@import "../../styles/variables";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.definition_container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: 1.6s ease-in 2s 1 fadeIn forwards;
}

.definition {
  padding: clamp(2px, 0.5vw, 5px) clamp(5px, 1vw, 10px);
  text-align: center;
  line-height: 1.5rem;
  font-size: clamp(1rem, 2vw, 1.25rem);
  background-color: $grey;
  border-radius: 10px;

  span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: $blue;
  }
}
