@import "../../styles/variables";

.hero {
  background: $yellow;
  color: $dark-blue;
  font-weight: 600;
  line-height: 1.3;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  .img_and_copy {
    margin: 2rem;
  }

  p {
    max-width: 600px;
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }

  .copy {
    position: relative;
    margin-left: 240px;
    margin-top: -140px;
  }
}

.banner {
  width: 90%;
  max-width: 900px;
  height: auto;
}
