@import "../../styles/component";

.hero {
  background: $yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-blue;
  font-weight: 600;
  line-height: 1.3;

  p {
    max-width: 600px;
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }
}

.banner {
  width: 90%;
  max-width: 600px;
  height: auto;
}
