@import "../../styles/variables";

.hero {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.grid_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_logo {
  width: 272px;
}

.tile {
  width: 58px;
  height: 58px;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  line-height: 58px;
  font-size: 32px;
  color: black;
}

.letters {
  text-transform: uppercase;
  display: inline-block;
  background-color: $yellow;
  box-shadow: 4px 4px 0 $red;
}

.random {
  color: darken($grey, 8%);
  background-color: $grey;
}

.row {
  display: flex;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 340px;
}

.align_right {
  justify-content: flex-end;
}
