@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

$blue: #4f83ff;
$dark-blue: #0f45c3;
$yellow: #ffd809;
$orange: #ffc34f;
$red: rgb(204, 57, 57);
$green: rgb(68, 189, 68);
$dark-orange: #f05220;
$grey: rgb(201, 213, 241);
$dark-grey: rgb(102, 114, 143);

@mixin Button($color) {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 75px;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  background-color: $color;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px darken($color, 25%);

  &:hover {
    background-color: lighten($color, 5%);
  }

  &:active {
    background-color: darken($color, 5%);
    box-shadow: inset 3px 3px darken($color, 40%);
  }

  &.disabled {
    pointer-events: none;
    color: $dark-grey;
    background-color: $grey;
    box-shadow: none;
  }
}
