$blue: #4f83ff;
$dark-blue: #0f45c3;
$yellow: #ffd809;
$light-yellow: #f0d862;
$red: rgb(204, 57, 57);
$green: rgb(68, 189, 68);
$dark-orange: #f05220;
$grey: rgb(201, 213, 241);
$dark-grey: rgb(102, 114, 143);

@mixin Button($color) {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(50px, 6vw, 75px);
  width: clamp(50px, 6vw, 75px);
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 700;
  text-decoration: none;
  background-color: $color;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px darken($color, 25%);

  &.disabled {
    pointer-events: none;
    color: $dark-grey;
    background-color: $grey;
    box-shadow: none;
  }

  &:hover {
    background-color: lighten($color, 5%);
  }

  &:focus-visible {
    color: white;
    outline: darken($color, 50%) solid;
  }

  &:active {
    color: $dark-grey;
    background-color: $grey;
    box-shadow: inset 3px 3px $dark-grey;
  }
}
