@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

$blue: #4f83ff;
$dark-blue: darken($blue, 30%);
$yellow: #ffd809;
$orange: #ffc34f;
$dark-orange: #f05220;
$grey: rgb(201, 213, 241);
$dark-grey: rgb(102, 114, 143);

@mixin Button($color) {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  color: white;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  background-color: $color;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px darken($color, 25%);
  // margin: 0;

  &:hover {
    background-color: lighten($color, 5%);
    // box-shadow: 3px 3px lighten($shadow, 5%);
  }

  &:active {
    // color: darken($dark-grey, 5%);
    background-color: darken($color, 5%);
    box-shadow: inset 3px 3px darken($color, 40%);
  }
}
