@import "../../styles/variables";

.progress_bar {
  display: flex;
  justify-content: space-between;
  background-color: $grey;
  padding: 0.5rem 2rem;
  width: 40%;
  border-radius: 30px;

  .progress {
    svg {
      height: 2rem;
      width: 2rem;
      fill: lighten($dark-grey, 20%);
    }
  }

  .before {
    svg {
      fill: $blue;
    }
  }

  .current {
    svg {
      fill: $dark-blue;
    }
  }
}
