@import "../../styles/variables";

.progress_bar {
  display: flex;
  justify-content: space-between;
  background-color: $grey;
  padding: 0.25rem 2rem;
  width: 50%;
  border-radius: 50px;

  .progress {
    svg {
      height: clamp(1rem, 3vw, 1.5rem);
      width: clamp(1rem, 3vw, 1.5rem);
      fill: white;
    }
  }

  .before {
    svg {
      fill: $blue;
    }
  }

  .current {
    svg {
      fill: $dark-blue;
    }
  }
}

@media screen and (max-width: 1024px) {
  .progress_bar {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .progress_bar {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
