@import "../styles/variables";

.prev {
  @include Button($blue);
  padding-left: 10px;

  svg {
    polyline {
      stroke: white;
    }
  }

  &:active {
    svg {
      polyline {
        stroke: $dark-grey;
      }
    }
  }
}

.next {
  @include Button($yellow);
  padding-left: 10px;
  color: black;
  box-shadow: 3px 3px $dark-orange;

  &:active {
    svg {
      polyline {
        stroke: $dark-grey;
      }
    }
  }

  &.disabled {
    svg {
      polyline {
        stroke: $dark-grey;
      }
    }
  }
}
