@import "../styles/variables";

.top_container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem 0.5rem;
  height: 40%;

  &.no_word {
    height: 70%;
  }
}

.prev,
.prev_mobile {
  @include Button($blue);
  flex-shrink: 0;
  width: 10rem;
  padding-right: 1rem;
  svg {
    polyline {
      stroke: white;
    }
  }

  &:active {
    svg {
      polyline {
        stroke: $dark-grey;
      }
    }
  }

  &.hidden {
    visibility: hidden;
  }
}

.next,
.next_mobile {
  @include Button($yellow);
  flex-shrink: 0;
  width: 10rem;
  padding-left: 1rem;
  color: black;
  box-shadow: 3px 3px $dark-orange;

  &:active {
    svg {
      polyline {
        stroke: $dark-grey;
      }
    }
  }

  &.disabled {
    svg {
      polyline {
        stroke: $dark-grey;
      }
    }
  }
}

.prev_mobile,
.next_mobile {
  display: none;
  width: 3rem;
}

.bottom_container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 55%;
  padding: 0 2rem 2rem;
  background: linear-gradient(0deg, lighten($grey, 10%) 80%, white 100%);

  &.no_word {
    height: 25%;
    padding: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .prev,
  .next {
    display: none;
  }

  .prev_mobile,
  .next_mobile {
    display: flex;
    align-self: center;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .top_container {
    padding: 0 1rem;
  }
  .bottom_container {
    height: 55%;
    padding: 0.5rem 1rem 2rem;
  }
}
