@import "../../styles/variables";

.footer_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3%;
  padding: 4rem 3% 1.2rem;
  background-color: lighten($grey, 10%);

  p {
    font-size: 0.9rem;
    color: darken($grey, 15%);

    a {
      font-style: italic;
      text-decoration: none;
      color: $dark-grey;

      &:hover {
        color: lighten($dark-grey, 20%);
      }
    }
  }
}
