@import "../../styles/variables";

.footer_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3%;
  padding: 0 10px;
  background-color: lighten($grey, 5%);

  p {
    font-size: 0.9rem;
    text-align: right;
    color: lighten($dark-grey, 5%);

    a {
      font-style: italic;
      text-decoration: none;
      color: $dark-grey;

      &:hover {
        color: lighten($dark-grey, 20%);
      }
    }
  }
}
