@import "../../styles/variables";

.footer_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3%;
  padding: 0 10px;
  background-color: lighten($grey, 10%);

  p {
    font-size: 0.9rem;
    color: $grey;

    a {
      font-style: italic;
      text-decoration: none;
      color: $dark-grey;

      &:hover {
        color: lighten($dark-grey, 20%);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer_container {
    display: none;
  }
}
